language: python

python:
  - 3.6

install:
  - pip install -r coverage codecov
  - source .venv-activate

script:
  - coverage run --source "${MODULE}" --module "unittest" discover --verbose "test"
  - coverage report

after_success:
  - codecov --token "027cd665-8516-42e8-8642-010114a37de4" > /dev/null

notifications:

  email: false

  slack:

    rooms:
      - sugarush:ZmgII1nbdMZf6FEhq7PgiuAG#travis-ci

    template:
      - "%{repository_name}@%{branch} commit <%{compare_url}|%{commit}> build <%{build_url}|%{result}>"
      - "%{author}: %{commit_message}"

    on_pull_requests: false
